pandas
numpy
scikit-learn
matplotlib
seaborn
notebook
statsmodels
openpyxl
xlrd
plotly
bokeh
altair
xgboost
lightgbm
catboost
mlxtend
imbalanced-learn
beautifulsoup4
scrapy
pandas-profiling
SQLAlchemy
psycopg2
pyodbc
pymysql
requests
jupyterlab
jupytext
nbconvert
flask
fastapi
streamlit
dash
